.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2em;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2em;
}

.conference-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
}

.conference-image {
  background-color: #e8e8ed;
  width: 100%;
  overflow: clip;
}

.conference-date-place {
  color: #6e6e73;
  letter-spacing: -.016em;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.42859em;
  display: flex;
}

.conference {
  box-shadow: none;
  color: #1d1d1f;
  letter-spacing: -.022em;
  cursor: pointer;
  background-color: #fff;
  border-radius: 18px;
  max-width: 300px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 17px;
  line-height: 1.47em;
  text-decoration: none;
  transition: box-shadow .3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.conference:hover {
  box-shadow: 0 16px 32px -16px #00000029;
}

.conference.past {
  filter: grayscale();
}

.conference-name {
  letter-spacing: .012em;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.21053em;
}

.conference-description {
  color: #6e6e73;
  letter-spacing: -.016em;
  padding-top: 4px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 1.42859em;
}

.conference-place {
  text-align: right;
}

.conference-info {
  padding: 22px 24px 20px;
}

.conference-body {
  color: #000;
  background-color: #f5f5f7;
  padding-bottom: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.2em;
}

.conference-name-description {
  height: 120px;
}

.conference-image-container {
  overflow: hidden;
}

.conference-brand {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  display: flex;
}

.conference-brand.w--current {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar {
  z-index: 99;
  -webkit-backdrop-filter: saturate(180%) blur(12px);
  backdrop-filter: saturate(180%) blur(12px);
  background-color: #f5f5f7cc;
  position: sticky;
  top: 0;
}

.conferences-container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}

.conferences-container.faq-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.conference-nav-link {
  padding-top: 26px;
  padding-bottom: 26px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.conference-nav-link.w--current {
  color: #000;
  font-weight: 600;
}

.watchlist-title-block {
  padding-top: 40px;
  padding-bottom: 20px;
}

.watchlist-description {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4em;
}

.watchlist-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.watchlist-item {
  box-shadow: none;
  color: #000;
  background-color: #fff;
  border-radius: 18px;
  padding: 22px 24px 20px;
  text-decoration: none;
  transition: box-shadow .7s ease-in-out;
  overflow: hidden;
}

.watchlist-item:hover {
  box-shadow: 0 16px 32px -16px #00000029;
}

.watchlist-title-description {
  min-height: 90px;
}

.faq-question {
  padding-bottom: 10px;
  font-weight: 600;
}

.faq-answer {
  padding-bottom: 30px;
}

.faq-list {
  padding-top: 20px;
  list-style-type: square;
}

.faq-link {
  color: #6e6e73;
}

.heading {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(312deg, #051f46, #1b5ca3);
  -webkit-background-clip: text;
  background-clip: text;
}

.footer-copy {
  color: #6e6e73;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.collaborator {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  color: #000;
  text-align: center;
  flex-flow: column;
  display: flex;
}

.collaborator-photo {
  aspect-ratio: 8 / 6;
  object-fit: cover;
  border-radius: 18px;
  max-width: 200%;
  box-shadow: 0 16px 32px -16px #00000052;
}

.collaborators {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  display: flex;
}

.swift-bold {
  color: #f05137;
  font-weight: 500;
}

.div-block {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.swift-logo {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

.past-event-tag {
  color: #fff;
  text-align: right;
  background-color: gray;
  border-radius: 8px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  inset: 10px 10px auto auto;
}

.calendar-download-link {
  color: #0171e3;
  text-align: center;
  width: 200px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: color .2s;
  display: block;
}

.calendar-download-link:hover {
  color: #6e6e73;
}

.image {
  width: 40px;
}

.social-brand-icon {
  width: 24px;
}

.social-links {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.calendar-subscribe-button {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  box-shadow: none;
  color: #0171e3;
  cursor: pointer;
  background-color: #fff;
  border-radius: 16px;
  justify-content: flex-start;
  align-items: center;
  width: 260px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: flex;
}

.calendar-subscribe-button:hover {
  color: #6e6e73;
  box-shadow: 0 16px 32px -16px #00000029;
}

.calendar-links-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .conference-grid {
    grid-template-columns: 1fr 1fr;
  }

  .conference {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    text-align: left;
  }

  .conference-brand, .conference-brand.w--current {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding-left: 0;
  }

  .watchlist-description {
    text-align: left;
  }

  .watchlist-grid {
    grid-template-columns: 1fr;
  }

  .faq-list {
    padding-left: 20px;
  }

  .heading {
    font-size: 20px;
  }

  .image {
    width: 24px;
  }

  .calendar-subscribe-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .calendar-links-container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {
  .conference-grid {
    grid-template-columns: 1fr;
  }

  .conference-nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer-copy {
    font-size: 12px;
  }

  .collaborators {
    flex-flow: column;
  }
}


